.main{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;

}
.container{
width: 40%; 
padding: 10px;
display: flex;
justify-content: space-between;
align-items: center;
}
    
.foto{
justify-content:center;

}

.item{
color:black;
background: #fff;
}

a{
    text-decoration: none;
}

a:hover{
text-decoration: none;
color: orange;
}

.container2{
    display:flex;
    background-color:rgba(0,0,26,255);
    flex-direction:column;
    align-items: baseline;
    justify-content: space-between;
    width: 40%;
    height: 600px;
}

.foto2{

display: flex;
width: 70%;
height: 400px;

}
.foto2 img{

    width: 100%;
}
.linea{
    border-bottom: solid 1px white;
}

.si{

    display: flex;
    gap: 50px;

}